body {
    background:rgb(182, 200, 218);
    font-family:Arial, Helvetica, sans-serif;
}

.assignment {
    display:flex;
    padding:10px;
    margin:10px;
    background-color:lightgray;
}

.assignment img {
    width:200px;
    padding:10px;
}

h1 {
    color:rgb(56, 53, 53);
    text-align:center;
}