body {
    background: #F2F2F2;
    font-family:Arial, Helvetica, sans-serif;
}

.assignments {
    display:flex;
    flex-wrap:wrap;
}

.assignment {
    width:22%;
    margin:10px;
    padding:20px 10px;
    background-color:#7da1b8;
    border-radius: 5px;
}

.assignment img {
    width:200px;
    margin: 10px;
    border: 2px solid #FFF;
    display:block;
    margin:auto;
}

.assignment img:hover {
    border: 2px solid #0F284E;
}

h1 {
    color:#383535;
    text-align:center;
}

h2 {
    text-align:center;
}

a {
    text-decoration: none;
    color:#FFF;
}

a:hover {
    color: #0F284E;
}